<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <!-- Configuração de conexão -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/sistemacadastros?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true </property>

    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">!1www91B1TC01N!</property>

    <!-- Dialeto de banco de dados -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Controle de criação automática das tabelas -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Mostrar SQL gerado no console (ótimo para debug) -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>

    <!-- Time zone (boa prática para datas) -->
    <property name="hibernate.jdbc.time_zone">UTC</property>

    <!-- Registrar as entidades -->
    <mapping class="br.uespi.model.Aluno" />

  </session-factory>
</hibernate-configuration>
